// =======================
// nav styles
// =======================

.nav__item a {
  color: $black-color;
  text-decoration: none;
  &:hover {
    color: $white;
  }

}

::placeholder {
  visibility: hidden;
}
