// =============================================
// Variables
// =============================================

//Colors
$color: #33FFB8;
$color-light: lighten($color, 10%);
$white: #fff;
$color-secondary: #00FFFF;
$black-color: black;


//Font
$font-stack: 'Cairo', sans-serif;
$font-stack-secondary: 'Bree Serif', serif;



//layout
$max-width: 80%;
$margin: 0px 0px 0px 120px;




//Breakpoints
$breakpoints: (
'sm': 480px,
'xl': 1400px,
);

//Theme colors
 $themes: (

 );
