// =============================
// Nav styles
// =============================

.nav {
  @include desktop{
    float: right;
  @include flexmuscle();
    margin: 0px 300px;
  }

  .nav__item{
    margin: 25px;
    margin-left: -5px;
    flex: 2;
    height: 26px;
	  width: 100%;

  }
  .nav__item:hover {
    background: $color-light;
    border-radius: 4px;
    height: 45px;
    padding: 10px;
  }
}


// =======================
// nav links styles
// =======================

.nav__item a {

  color: $black-color;
  text-decoration: none;
  &:hover {
    color: $white;
  }

}

::placeholder {
  visibility: hidden;
}
