// =====================
// Typography
// =====================
h4 {
  font-weight: normal;
}
.headline--primary {
  color: $color-light;
}

.link{
  text-decoration: none;
  color: $color-secondary;
}

.blockquote {
  border-left: 6px solid  $color-light;
  font-size: 20px;
  font-family: $font-stack-secondary;
  border-radius: 4px;
  padding-left: 15px;
}
