// =============================
// Base styles
// =============================

* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  width: $max-width;
}

p{
  margin-bottom: 1.25em;
}
ul {
  list-style-type: none;
  text-align: center;
}
.nav__item a {
  color: $black-color;
  text-decoration: none;
  &:hover {
    color: $color-secondary;
  }

}

.headline--primary {
  color: $color-primary-light;
}

.link{
  text-decoration: none;
  color: $color-primary-light ;
}
